<div class="container" *ngIf="authService.isLoggedIn()">
  <div *ngIf="authService.getUser()?.role == 'admin' || authService.getUser()?.role == 'logopedist'">
  <a class="btn btn-success" [routerLink]="['/new-user']">Nieuwe gebruiker</a>
  <br/>
  <br/>
  <div  class="row equal" >
    <div *ngFor="let user of userService.users" class="col-md-6 ">
      <div class="widget">
        <div class="panel panel-default ">
          <div class="panel-heading">{{ user.name }}</div>
          <div class="panel-body">
            <p><b>Email:</b> {{ user.email }}</p>
            <p><b>Rol:</b> {{ user.role }}</p>
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-primary" href="javascript:void(0)" (click)="getResults(user.id)">Bekijk resultaten</button>
            <div style="float: right">
              <button type="button" class="btn btn-danger" style="margin-left: 5px" (click)="deleteUser(user.id)">Verwijder</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
